@import "./colors.css";

:root {
  --border-radius: 14px;

  --widget-background: var(--background);
  --noti-border-color: alpha(var(--primary), 0.3);

  --noti-bg-hover: alpha(var(--surface_container), 0.9);

  --padding: calc(var(--border-radius) / 2);

  --notification-icon-size: 48px;
}

.notification {
  background: alpha(var(--background), 0.75);
}

.control-center {
  border-radius: 0;
  background: transparent;
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius) / 2);
  border: var(--border);
}

.control-center-list-placeholder {
  padding: var(--border-radius);
}

.notification-group {
  border-radius: var(--border-radius);
}

.widget.widget-mpris {
  background: transparent;
  border-radius: 0;
  padding: 0;
  border: none;
}
.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: var(--on_primary);
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}
.widget-mpris-player:only-child {
  margin: 0;
}
