@import "colors.css";

window#osd {
  box-shadow:
    0 8px 24px 2px #00000030,
    0 0 0 2px alpha(@accent_fg_color, 0.5) inset,
    0 0 0 1px alpha(@accent_color, 0.25) inset;
  margin: 64px;
  background: alpha(@accent_fg_color, 0.75);

  font-family: "Cascadia Code NF", monospace;
}

#container {
  margin: 12px 20px;
}

image {
  -gtk-icon-transform: scale(0.8);
}

image,
label {
  color: @accent_color;
}

trough,
segment {
  background: alpha(@accent_bg_color, 0.25);
  border: 1px solid alpha(@accent_color, 0.75);
  margin-right: 4px;
}

progress,
segment.active {
  background: @accent_color;
  border-radius: 0px;
}
