@import "./colors.scss";

* {
  // all: unset; // Unsets everything so you can style everything from scratch
  font-family:
    "CaskaydiaCove NF",
    "CaskaydiaCove Nerd Font",
    Iosevka,
    FontAwesome,
    Noto Sans CJK;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

// Global Styles
.bar {
  background: rgba($on_primary, 0.1);
  border-bottom: 1px solid rgba($primary, 0.25);

  color: $primary;
  padding: 0 0 0 12px;
  min-height: 24px;
}

// Styles on classes (see eww.yuck for more information)

.workspace-entry:not(.main-workspace-logo) {
  color: rgba($primary, 0.4);
  padding: 0 5px;
}
.workspace-entry:hover {
  color: rgba($primary, 0.7);
}
.workspace-entry.current {
  color: $primary;
}
.workspace-entry.bell:not(.current) {
  color: #dc8746;
}
.workspace-entry.urgent:not(.current) {
  color: #d35d6e;
}

.main-workspace-logo {
  opacity: 0.4;
}
.main-workspace-logo.has-tags {
  opacity: 0.6;
}
.workspace-entry.current > .main-workspace-logo {
  opacity: 1;
}

.system_metrics {
  padding: 0 8px 0 8px;
}

.system_text_metrics {
  padding: 0 8px;
}

slider {
  all: unset;
  color: $primary;
}

.metric {
  padding: 0 12px;
}

.metric scale {
  all: unset;
}

.notice {
  padding-right: 8px;
}

.metric scale trough highlight {
  all: unset;
  background-color: rgba($primary, 0.8);
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: rgba($primary, 0.1);
  border: 2px solid rgba($primary, 0.1);
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
}

.label-ram {
  font-size: large;
}

.critical {
  color: #d35d6e;
}
.critical scale trough highlight {
  background: #d35d6e;
}
.warning {
  color: #dc8746;
}
.warning scale trough highlight {
  background: #dc8746;
}

.workspaces button:hover {
  color: #d35d6e;
}

.music_parent:drop(active) {
  box-shadow: none;
}
.music_parent:drop(active) > .music {
  margin: 3px 0 3px 0;
  padding: 3px 8px 3px 3px;
  border-radius: 8px;
  background-color: rgba($primary, 0.3);
  box-shadow: inset 0 0 0 1px rgba($primary, 0.3);
}
.music {
  padding: 5px 10px 6px 4px;
  color: $primary_fixed;
}

.music.Paused {
  opacity: 0.75;
}

.album_art {
  border-radius: 6px;
  background-size: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(230, 185, 198, 0.1);
  border: 1px solid rgba(230, 185, 198, 0.1);
}

.music-separator,
.music-artist {
  opacity: 0.6;
}

.systray {
  padding: 0 18px 0 8px;
}

.metric.brightness.collapsed {
  opacity: 0.75;
  padding: 0 16px;
}

.time {
  font-weight: bolder;
}

.date {
  font-weight: normal;
  padding-right: 20px;
}

.metric.critical scale trough highlight {
  background: #d7144b;
}
.metric.battery.critical {
  background: rgba(215, 20, 75, 0.5);
  box-shadow: inset 0 0 0 2px rgba(215, 20, 75, 0.25);
  border-radius: 6px;
  margin: 4px;
}
.metric.battery:not(.critical).Charging scale trough highlight,
.metric.battery:not(.critical).charged scale trough highlight {
  background: rgb(109, 191, 109);
}
.metric:not(.Charging).critical > .label {
  color: #f582a3;
}
.metric.battery.Charging > .label,
.metric.battery.charged > .label {
  color: rgb(109, 191, 109);
}
